/* forgotpassword.css */

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Users/sinansensev/Desktop/TescoPizza_UI/TescoPizza/src/assets/tescopizzaorange.jpeg');
    background-size: 200px; 
    background-repeat: repeat; 
    background-color: rgba(255, 255, 255, 0.7); 
    background-blend-mode: lighten; 
  }
  
  .forgot-password-form {
    width: 400px; 
    background-color: rgba(255, 255, 255); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px orange(0, 0, 0, 0.1);
  }
  
  .forgot-password-input-container {
    margin-bottom: 15px;
    position: relative; 
    color: rgb(0, 0, 0);
    
  }
  
  .forgot-password-input {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
  }
  
  .forgot-password-button:hover {
    background-color: rgb(184, 120, 1);
  }
  
  .forgot-password-error {
    color: red;
    margin-top: 10px;
  }
  
  .back-to-login {
    display: block;
    text-align: right;
    color: #B67812;
    text-decoration: none;
    margin-bottom: 10px; 
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  
  .reset-password-link {
    display: block;
    text-align: left; 
    color: orange;
    text-decoration: none;
    margin-bottom: 10px; 
  }
  
  .reset-password-link:hover {
    text-decoration: underline;
  }
  