.AllNavbarPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;

}
.NavbarButtonsMain{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  width: 50%;
  align-items: center;
  height: 100%;
}
.NavbarButtonsMain button{
  margin-bottom: 40px;
  border: none;
  background: none;
  color: #B4BCCF;
}
.NavbarButtonsMain button:hover{
  color: black;
}
