@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  /* background-color: #FFA500;  */
  /* background-image: url('/Users/sinansensev/Desktop/TescoPizza_UI/TescoPizza/src/assets/tescopizzaorange.jpeg');
    background-size: 200px; 
    background-repeat: repeat; 
    background-color: rgba(255, 255, 255, 0.7); 
    background-blend-mode: lighten; 
  font-family: 'Montserrat', sans-serif;
  font-weight: tahoma;  */
}

* {
  font-weight: tahoma; 
}
.Navbar {
  height: 50px;
  background-color: #fff;
  color: white;
  box-shadow: 0 0 4px black;
  font-size: 28px;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Navbar h3 {
  color: orange;
  padding: 5px 15px;
  height: 40px;
  margin: auto;
}
.Navbar span {
  color: black;
}
.TitleSecure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
}
.Amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; 
}
.Amount p {
  margin-right: 10px; 
}
.price {
  background-color: #ebeed3;
  padding: 4px 7px;
  border-radius: 10px;
  font-weight: bold;
  
}
.AmountIcon {
  font-weight: bold;
}
.secureIcon {
  font-size: 25px;
  color: orange;
}
header {
  box-shadow: 0 0 1px black;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
header p {
  margin: 5px;
}
form {
  
  width: 300px;
  margin: 40px auto;
}
main {
  margin: 10px 0;
  box-shadow: 0 0 2px black;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
main .span {
  color: red;
  width: 300px;
  height: 30px;
  
  padding: 5px 10px;
}
.small-text {
  font-size: 12px; 
}

input {
  margin-top: 14px;
  padding: 5px;
  color: orange;
}
.NomDuClient,
.NumDeCarte {
  margin-top: 10px;
}
.NomDuClient input,
.NumDeCarte input {
  width: 255px;
  height: 35px;
}
.DateEtCvc {
  display: flex;
}
.DateEtCvc div {
  margin-top: 15px;
}
.DateEtCvc input {
  width: 100px;
  height: 30px;
}
.terme {
  display: flex;
  margin: 10px 0 -8px 0;
  align-items: center;
  align-content: center;
  align-self: center;
  font-weight: bold;
}
.terme input {
}
.terme p {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 12px;
}
 .TermeConfidentialite {
  cursor: pointer
} 
.btn {
  width: 270px;
  margin-top: 20px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: orange;
  color: white;
}
.img1 {
  width: 200px;
  height: 55px;
}
.img2 {
  width: 100px;
  height: 55px;
}
footer {
  display: flex;
}
